<h2 class="offset-md-2"><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h2>
<div class="row">
  <div class="text-left">
    <table class= "m-5 text-white">
      <tbody>
        <tr>
          <td><label>会員ID</label></td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td><label>氏名</label></td>
          <td><%= @customer.first_name %> <%= @customer.last_name%></td>
        </tr>
        <tr>
          <td><label>フリガナ</label></td>
          <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td><label>郵便番号</label></td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td><label>住所</label></td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td><label>電話番号</label></td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td><label>メールアドレス</label></td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td><label>会員ステータス</label></td>
          <td>
            <% case @customer.is_active when true %>
              <span class="text-success">有効</span>
            <% when false %>
              <span class="text-danger">退会</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-2 offset-md-1">
      <%= link_to edit_admins_customer_path(@customer) do %>
        <label class="btn btn-success">編集する</label>
      <% end %>

      <%= link_to admins_orders_path(@customer.id) do %><!--未実装-->
        <label class="btn btn-primary">注文履歴一覧</label>
      <% end %>
    </div>
  </div>
</div>