<!--ジャンル検索　部分テンプレート-->
<h2 class="offset-md-2">商品一覧(全<%= @items_count.count %>件)</h2>
<div class="container">
  <div class="row">
    <% @items.each do |item|%>
    <div class="col-lg-3">
      <div>
        <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 250, 200, format:'jpeg', fallback: "PAK57_ichigonocake_TP_V4 (1).jpg", size:'150x100' %>
        <% end %>
      </div>
      <div>
        <%= link_to item.name, item_path(item) %>
      </div>
      <div>
        ¥<%= item.price.floor %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <div class="bg-dark" align="center">
      <%= paginate @items, class: "gaginate"%>
    </div>
  </div>
</div>

<!--ページネーション-->