    <!--部分テンプレート　ジャンル検索-->
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div><%= attachment_image_tag @item, :image, :fill, 250, 200, format:'jpeg', fallback: "PAK57_ichigonocake_TP_V4 (1).jpg", size:'250x200' %></div>
    </div>
    <div class="offset-md-1 col-md-3">
      <h3><%= @item.name %></h3>
      <h4><%= @item.introduction %></h4>
      <h3>¥<%= @item.taxed_price.floor %><p>(税込)</p></h3>
      <%= form_with model: @cart_item, url: cart_items_path, method:  :POST, local:true do |f|%>
        <%= f.label :amount, "個数選択"%>
        <%= f.select :amount, *[1..10], placeholder: '個数選択' %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
