<h2>注文履歴詳細</h2>

<table>
  <tbody>
    <tr>
      <th>購入者</th>
      <td>
        <%= link_to admins_customer_path(@order.customer_id) do %>
        <%= @order.customer.first_name %> <%= @order.customer.last_name %>
        <% end %>
      </td>
      <th>購入日</th>
      <td><%= @order.created_at.to_s(:ymd) %></td>
      <th>配送先</th>
      <td>
        〒<%= @order.postal_code%> <%= @order.address %><br/>
        <%= @order.name%>
      </td>
      <th>支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
      <th>注文ステータス</th>
      <td>
      <%= form_with model: @order, url: admins_order_path(@order.id), method: :patch, local:true do |f| %>
        <%= f.select :order_status, [["入金待ち", 0],["入金確認", 1],["製作中", 2],["発送準備中", 3],["発送済み", 4]] %>
        <!--< %= f.hidden_field :order_status, value: @order.order_status %>-->
        <%= f.submit '更新' %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
    <div class="col-xs-8">
      <table class="table table-bordered text-white">
        <tr>
          <th class="col-xs-3">商品名</th>
          <th class="col-xs-2">単価(税込)</th>
          <th class="col-xs-1">数量</th>
          <th class="col-xs-2">小計</th>
          <th class="col-xs-3">製作ステータス</th>
        </tr>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td class="text-right"><%= order_detail.price.to_s(:delimited) %></td>
            <td class="text-right"><%= order_detail.amount %>個</td>
            <td class="text-right"><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
            <%= form_for [:admins, order_detail] do |f| %>
              <td align="center">
                <%= f.select :product_status, [["着手不可",0],["製作待ち",1],["製作中",2],["製作完了",3]] %>
                <%= f.submit '更新', class:"btn btn-success" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <table class="table table-bordered text-white">
          <tr>
            <th>商品合計</th>
            <td class="text-right"><%= (@order.total_payment - @order.shipping_fee).to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td class="text-right"><%= @order.shipping_fee.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>請求合計金額</th>
            <td class="text-right"><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
  </div>
</div>